.search-container {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  width: 30%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.main-container.dark .search-container {
  background-color: #333333;
}

.search-icon {
  margin-right: 4px;
}

.main-container.dark .search-icon {
  color: #ffffff;
}

.search-container form {
  flex: 1;
}

.search-input {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.main-container.dark .search-input {
  background-color: #222222;
  color: #ffffff;
}

.main-container.dark .search-input::placeholder {
  color: #ffffff;
}

.search-input:focus {
  outline: none;
}
