:root {
  --light-mode-bg: #f4f4f4; /* Placeholder for light mode background color */
  --dark-mode-bg: #333333; /* Placeholder for dark mode background color */
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: var(--light-mode-bg);
}

.main-container.dark {
  background-color: var(--dark-mode-bg);
}
